/* @media only screen and (max-device-width: 479px) {
    html,
    body {        
        margin: 0;
        padding: 0;
        height: 100%;
    }

    h1 {
        text-align: center;
        margin: 0;
    }

    .containerTop, .containerBottom {
        display: flex;
        height: auto;
        flex-direction: column;
    }

    .contrast,
    .repetition,
    .alignment,
    .proximity {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contrast *,
    .repetition *,
    .alignment *,
    .proximity * {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contrast p,
    .repetition p,
    .alignment p,
    .proximity p {
        margin: 10px;
        text-align: center;
    }

    footer {
        margin: 0;
        text-align: center;
    }
} */

@media only screen and (min-device-width: 480px) {

    html,
    body {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .container h1 {
        text-align: left;
    }

    .types {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .women,
    .men,
    .kids,
    .designer {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }

    .womenimg,
    .menimg,
    .kidsimg,
    .fashiondesignerimg {
        width: auto;
        height: auto;
        max-width: 600px;
        max-height: 450px;
    }

    .women h2,
    .men h2,
    .kids h2,
    .designer h2 {
        margin-top: 5px;
    }

    footer {
        margin: 0;
    }
}