html,
body {
    background-color: white;
}

h1,
footer {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
}

footer {
    text-align: center;
}

.women {
    
}

.men {
    
}

.kids {
    
}

.designer {
    
}

.women h2,
.men h2,
.kids h2,
.designer h2 {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;

}