html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/bkgimage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    /* Max Width */
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.split{
    display: flex;
}

.split div {
    display: flex;
    flex: 1 1 50%;
    /* Static Height */
    height: 450px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.split-left {
    background-color: rgba(0,0,0,0.2);
}

.split-left img {
    max-width: 100%;
    max-height: 100%;
}

.split-right {
    background-color: green;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin: 0;
    padding: 0;
}

.login p {
    margin: 10px;
}

.login input[type="text"] {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 200px;
}

.login input[type="button"] {
    width: 80px;
    height: 30px;
}

.imgContainer {
    display: flex;
    height: auto;
    width: 180px;
}

.imgContainer img {
    object-fit: contain;
}


