@media only screen and (max-device-width: 767px) {
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
    }
    
    .split{
        display: flex;
        flex: 1;
        /* Max Width */
        max-width: 1200px;
        /* Static Height */
        height: 650px;
        flex-direction: column;
    }
    
    .split > div {
        display: flex;
        flex: 1;    
        justify-content: center;
        align-items: center;
        height: 100%;
        max-width: 600px;
    }
    
    .split-left {
        background-image: url(./img/bkgimage_edit.jpg);
        background-repeat: repeat;
        background-size: cover;
        background-position: center;
    }
    
    .split-right {
        height: 100%;
    }
    
    img {
        min-width: 100%;
        min-height: 100%    
    }
    
    .login {
        display: flex;
        flex-direction: column;
        align-items: center;   
        justify-content: space-evenly; 
    }
    
    .login input[type="text"] {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 200px;
    }
    
    .login input[type="button"] {
        width: 80px;
        height: 30px;
    }
    

}

@media only screen and (min-device-width: 768px) {

    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
    }
    
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(./img/bkgimage_edit.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .split{
        display: flex;
        flex: 1;
        /* Max Width */
        max-width: 1200px;
        /* Static Height */
        height: 450px;
    }
    
    .split > div {
        display: flex;
        flex: 1;    
        justify-content: center;
        align-items: center;
        height: 100%;
        max-width: 600px;
        overflow: hidden;
        flex-shrink: 0;
    }
    
    .split-left {
        background-color: rgba(0,0,0,0.2);    
    }
    
    .split-right {
        height: 100%;
    }
    
    img {
        min-width: 100%;
        min-height: 100%    
    }
    
    .login {
        display: flex;
        flex-direction: column;
        align-items: center;   
        justify-content: space-evenly; 
    }
    
    .login input[type="text"] {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 200px;
    }
    
    .login input[type="button"] {
        width: 80px;
        height: 30px;
    }
    
}