@media screen and (min-width: 600px) { 

    body {
        background-color: #181818;
    }


    .card-container {
            margin: 40px 0;
            padding: 0 2rem;

        }

        ul.flex-list {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0;
            padding: 0;
        }
        
        ul.flex-list li {
            flex: 0 1 300px;        
            list-style-type: none;
            align-self: stretch;
            margin: 0;
            padding: 0;
        }

        li.card {
            align-self: flex-start;
            text-align: center;
        }

        li.card img {
            max-width: 100%;
            border-radius: 10px;
        }
        
 }

@media screen and (max-width: 599px) { 

    body {
        background-color: #181818;
    }

    .card-container {
        margin: 20px 0;
        padding: 0 2rem;

    }

    ul.flex-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }
    
    ul.flex-list li {
        flex: 0 1 300px;        
        list-style-type: none;
        align-self: stretch;
        margin-bottom: 20px;
        padding: 0;
    }

    li.card {
        align-self: flex-start;
        text-align: center;
    }

    li.card img {
        max-width: 100%;
        border-radius: 10px;
    }

}

